<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--************************************ SEO ********************************-->
    <title>{head.title}</title>
    <meta name="description" content="{head.description}">
    
    <!--************************************ CODE CSS ***************************-->
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="{head.styles}" rel="stylesheet">

    <!--************************************ FONTS ***************************-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">

    <!--************************************ FAVICON *************************-->
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <div class="logo_container">
            <a href="/"><img src="../assets/images/simple_interface_logo.png" alt="simple interface logo"></a>
        </div>
    </nav>