<div class="content__container">
    <header>
        <h1>{body.h1}</h1>
    </header>
    <main>
        <form action="{form.action}" id="{form.id}" method="POST">
            <p>Enter your email and submit the form. We'll send you instructions on how to reset your password.</p>
            <label for="email">Email</label>
            <input name="email" type="email" placeholder="Type your Email" data-validate="Email is required" required>
            <span class="form__borderEffect"></span>
            <div class="form__buttonContainer">
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</div>
<script src={body.script}></script>